In [1]:
edward = ['Edward Gumby', 42]
john = ['John Smith', 50]
database = [edward, john]
database

[['Edward Gumby', 42], ['John Smith', 50]]

In [2]:
greeting = 'Hello'
greeting[0]

'H'

In [3]:
'Hello'[1]

'e'

In [1]:
tag = '<a href="http://www.python.org">Python web site</a>'
tag[9:30]

'http://www.python.org'

In [3]:
tag[32:-4]

'Python web site'

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[-3:0]
numbers[-3:]
numbers[:3]
numbers[0:10:2]
numbers[3:6:3]
numbers[5::-2]
numbers[:5:-2]

[10, 8]

In [11]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [12]:
'Hello,' + 'world!'

'Hello,world!'

In [13]:
[1, 2, 3] + 'world!'

TypeError: can only concatenate list (not "str") to list

In [14]:
'python' * 5

'pythonpythonpythonpythonpython'

In [15]:
[42] * 10

[42, 42, 42, 42, 42, 42, 42, 42, 42, 42]

In [16]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [17]:
x = [1, 1, 1]
x[1] = 2
x

[1, 2, 1]

In [18]:
names = ['Alice', 'Beth', 'Cecil', 'Dee-Dee', 'Earl']
del names[2]
names

['Alice', 'Beth', 'Dee-Dee', 'Earl']

In [19]:
name = list('Perl')
name

['P', 'e', 'r', 'l']

In [20]:
name[2:] = list('ar')
name

['P', 'e', 'a', 'r']