In [1]:
print('Age:', 42)

Age: 42

In [2]:
print("I", "wish", "to", "register", "a", "complaint", sep="_")

I_wish_to_register_a_complaint

In [3]:
print("I", "wish", "to", "register", "a", "complaint", sep="*")

I*wish*to*register*a*complaint

In [4]:
print('Hello,', end='')
print('world!')

Hello,world!

In [5]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

In [6]:
x, y = y, x
print(x, y, z)

2 1 3

In [7]:
values = 1, 2, 3
x, y, z = values
z

3

In [9]:
scoundrel = {'name': 'Robin', 'girlfriend': 'Marion'}
key, value = scoundrel.popitem()
key
value

'Marion'

In [10]:
a, b, *rest = [1, 2, 3, 4]
rest

[3, 4]

In [11]:
a, *b, c = "abc"
a, b, c

('a', ['b'], 'c')

In [12]:
fnord = 'foo'
fnord += 'bar'
fnord *= 2
fnord

'foobarfoobar'

In [13]:
True == 1

True

In [14]:
True + False + 42

43

In [15]:
bool('I think, therefore I am')

True

In [16]:
bool(42)

True

In [17]:
bool('')

False

In [18]:
bool(0)

False

In [1]:
name = input('What is your name? ')
if name.endswith('Gumby'):
	print('Hello, Mr. Gumby')

In [1]:
x = y = [1, 2, 3]
z = [1, 2, 3]
x == y

True

In [2]:
x == z

True

In [3]:
x is y

True

In [4]:
x is z

False

In [5]:
1 is 2

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Hankel\AppData\Local\Temp\ipykernel_54672\1180083856.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 2

False

In [6]:
"alpha" < "beta"

True

In [11]:
ord("d")

100

In [12]:
chr(128584)

'ðŸ™ˆ'

In [13]:
[1, 2] < [2, 1]

True

In [14]:
age = 10
assert 0 < age < 100
age = -1
assert 0 < age < 100

AssertionError:

In [16]:
age = -1
assert 0 < age < 100, 'The age must be realistic'

AssertionError: The age must be realistic

In [1]:
d = {'x': 1, 'y': 2, 'z': 3}
for key in d:
	print(key, 'corresponds to', d[key])

x corresponds to 1
y corresponds to 2
z corresponds to 3

In [1]:
names = ['anne', 'beth', 'george', 'damon']
ages = [12, 45, 32, 102]
list(zip(names, ages))

[('anne', 12), ('beth', 45), ('george', 32), ('damon', 102)]

In [2]:
sorted([4, 3, 6, 8, 3])

[3, 3, 4, 6, 8]

In [3]:
sorted('Hello, world!')

[' ', '!', ',', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [4]:
list(reversed('Hello, world!'))

['!', 'd', 'l', 'r', 'o', 'w', ' ', ',', 'o', 'l', 'l', 'e', 'H']

In [5]:
''.join(reversed('Hello, world!'))

'!dlrow ,olleH'

In [7]:
from math import sqrt
for n in range(99, 81, -1):
	root = sqrt(n)
	if root == int(root):
	    print(n)
	    break
else:
	print("Didn't find it!")

Didn't find it!

In [8]:
exec("print('Hello, world!')")

Hello, world!

In [13]:
from math import sqrt
scope = {}
exec('sqrt = 1', scope)
sqrt(4)
scope['sqrt']
len(scope)
scope.keys()

dict_keys(['__builtins__', 'sqrt'])